quiz-20170109-No_Savsoft.sql
quiz-20170109.sql
quizzz.sublime-project
readme.md
savsoftquiz_v3_0.sql
sftp-config.json
installation.txt
note.txt
license.md
license_codeigniter.txt
license_savsoftquiz.txt
application/config/sq_config.php
application/logs/
upload/